
*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    width: 100%;
    background: #0f872e;
}

.logo{
    position: absolute;
    height: 63px;
    width: 190px;
    left: 8%;
    padding-top: 8px;
}

.menuNav {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 3%;
    padding-right: 3%;
    overflow: hidden;
    left: 9%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 8px;
    text-decoration: none;
  }

  li button {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 8px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#057421;
  }

  fieldset{
      display: block;
      padding: 17px 8px;
    text-decoration: none;
  }