.alinear{
    text-align: center; /* alinea horizontalmente*/
}
.botones{
    flex-grow: inherit;
}
.buscador{
    width: 305px;
}
.logo{
    position: absolute;
    height: 63px;
    width: 190px;
    left: 8%;
    padding-top: 8px;
}